<section *ngIf="step1" class="w-75 mx-auto rounded bg-main-light shadow p-3">
  <form [formGroup]="forgetform" (ngSubmit)="forgetpassword()">
    <label for="email">email</label>
    <input
      id="email"
      type="email"
      class="form-control"
      formControlName="email"
    />

    <button class="btn mt-3 btn-main">forget password</button>
    <p
      *ngIf="userMessage"
      class="alert alert-danger w-75 mx-auto mb-0 p-1 text-center"
    >
      {{ userMessage }}
    </p>
  </form>
</section>

<section *ngIf="step2" class="w-75 mx-auto rounded bg-main-light shadow p-3">
  <form [formGroup]="resetCodeform" (ngSubmit)="resetCode()">
    <label for="resetcode">Reset code</label>
    <input
      id="resetcode"
      type="text"
      class="form-control"
      formControlName="resetCode"
    />

    <button class="btn mt-3 btn-main">Reset code</button>
    <p
    *ngIf="userMessage"
    class="alert alert-danger w-75 mx-auto mb-0 p-1 text-center"
  >
    {{ userMessage }}
  </p>
  </form>
</section>

<section *ngIf="step3" class="w-75 mx-auto rounded bg-main-light shadow p-3">
  <form [formGroup]="resetPasswordform" (ngSubmit)="newPassword()">
    <label for="newpassword">Reset password</label>
    <input
      id="newpassword"
      type="password"
      class="form-control"
      formControlName="newPassword"
    />

    <button class="btn mt-3 btn-main">Reset password</button>
    <p
    *ngIf="userMessage"
    class="alert alert-danger w-75 mx-auto mb-0 p-1 text-center"
  >
    {{ userMessage }}
  </p>
  </form>
</section>
