<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="./assets/images/freshcart-logo.svg" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            aria-current="page"
            routerLinkActive="active-link "
            routerLink="/home"
            >Home</a
          >
        </li>

        <li class="nav-item text-capitalize">
          <a class="nav-link" routerLinkActive="active-link " routerLink="/cart"
            >cart</a
          >
        </li>

        <li class="nav-item text-capitalize">
          <a
            class="nav-link"
            routerLinkActive="active-link "
            routerLink="/wishlist"
            >wishlist</a
          >
        </li>

        <li class="nav-item text-capitalize">
          <a
            class="nav-link"
            routerLinkActive="active-link "
            routerLink="/products"
            >products</a
          >
        </li>

        <li class="nav-item text-capitalize">
          <a
            class="nav-link"
            routerLinkActive="active-link "
            routerLink="/brands"
            >brands</a
          >
        </li>

        <li class="nav-item text-capitalize">
          <a
            class="nav-link"
            routerLinkActive="active-link "
            routerLink="/categories"
            >categories</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">





        <li class="nav-item text-capitalize">

          <a class="nav-link position-relative" routerLink="/cart">
            <i class="fa-2x fa-solid fa-cart-shopping" style="color: #b0b3b5"></i>
            <span class="badge bg-success position-absolute top-0 end-0">{{ cartNum}}</span>
          </a>

        </li>

        <li class="nav-item">
          <span class="nav-link cursor-pointer" (click)="logOutUser()">logOut</span>
        </li>

      </ul>
    </div>
  </div>
</nav>
